.custom-card {
  width: 100%;
  border-radius: 30px;
  padding-bottom: 5rem;
  /* background: transparent; */
  opacity: 1;
}

@media (min-width:768px) {
  .custom-card {
    height: 70vh;
    padding-bottom: 0;
  }

  .Swiper {
    padding-top: 0 !important;
  }
}

/* h2 {
  -webkit-text-stroke: 2px white;
} */

.swiper-pagination {
  z-index: 99;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.swiper-pagination > * {
  background: white;
  border-radius: 100%;
  width: 0.3rem !important;
  height: 0.3rem !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #2563eb;
  width: 0.8rem !important;
  height: 0.8rem !important;
  transition: all 0.3s ease;
}