@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Teko:wght@300..700&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/enterprise";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --font-mulish: "Mulish", "sans-serif";
  --font-teko: "Teko", "sans-serif";
  /* Define custom font stacks */

  --animate-arrow-guide: arrow-guide 1.5s ease-in-out infinite;
}

@keyframes arrow-guide {
  0%, 100% { 
    transform: translateX(0); 
    opacity: 0.4; 
  }
  50% { 
    transform: translateX(10px); 
    opacity: 1; 
  }
}